* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #b3e5fc;
  font-family: "Poppins", sans-serif;
  color: #2e7d32;
}

header {
  background-color: #b3e5fc;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width:100%;
  
}

.title {
  font-size: 3rem;
  color: #2e7d32;
  font-weight: 600;
  margin-bottom: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
  letter-spacing: 1px;
}

.navmenu {
  font-size: 1.2rem;
  color: #2e7d32;
  position: relative;
  z-index: 999;
}

.navmenu .item {
  color: #388e3c;
  text-decoration: none;
  margin: 0 8px;
  transition: color 0.3s ease;
}

.navmenu .item:hover {
  color: #81c784;
}
.titleAbout {
    text-align: center;
    padding: 40px 0;
    font-size: 3rem;
    color: #2e7d32;
}

section {
    width: 80%;
    max-width: 900px;
    margin: auto;
    text-align: center;
    padding: 30px 0;
}

h2 {
   color: #2e7d32;
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
}

.team-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 25px;
}

.team-card {
    background: white;
    width: 220px;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.team-card:hover {
    transform: translateY(-5px);
}

.team-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.team-card h3 {
    margin-top: 12px;
    color: #2e7d32;
}

.fade {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.7s ease-in-out;
    
}

.fade.show {
    opacity: 1;
    transform: translateY(0);
}