* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #b3e5fc;
  font-family: "Poppins", sans-serif;
  color: #2e7d32;
}

header {
  background-color: #b3e5fc;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 3rem;
  color: #2e7d32;
  font-weight: 600;
  margin-bottom: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
  letter-spacing: 1px;
}

.navmenu {
  font-size: 1.2rem;
  color: #2e7d32;
  position: relative;
  z-index: 999;
}

.navmenu .item {
  color: #388e3c;
  text-decoration: none;
  margin: 0 8px;
  transition: color 0.3s ease;
}

.navmenu .item:hover {
  color: #81c784;
}

.svg {
  display:flex;
  justify-content: center;
  margin-top: 2%; 
  width: 100%; 
  margin-bottom: 0%;
  padding-bottom: 0%;
}


svg {
  width: 85%; 
  height: auto;
  max-width: 2000px; 
  display: block; 
}


svg path {
  fill: #b2f2bb;
  stroke: #388e3c;
  stroke-width: 0.5;
  cursor: pointer;
  transition: fill 0.3s ease;
}

svg path:hover {
  fill: #81c784;
  filter: brightness(1.05);
}

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.copyrights {
  margin: 4px;
}

#info-box.show {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

#info-box.hide {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.95);
}

#info-box strong {
  display: block;
  font-size: 1.3rem;
  margin-bottom: 6px;
}

#info-box {
  position: fixed;
  background: #b3e5fc;
  border: 2px dashed #2e7d32;
  color: #2e7d32;
  padding: 8px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  z-index: 9999;
  width: auto;
  max-width: 400px;
  display: none;
  white-space: normal;
  box-sizing: border-box;
}

#info-box .popup-content {
  position: relative;
  padding-top: 10px;
}

#info-box .popup-sticker {
  position: absolute;
  top: 4px;
  left: 0px;
  width: 60px;
  height: 40px;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid #2e7d32;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

#info-box .popup-text {
  margin-left: 65px;
  position: relative;
  bottom: 8px;
  left: 10px;
}

#info-box .popup-text strong {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 4px;
}

#info-box .popup-text p {
  margin: 2px 0;
  font-size: 1rem;
}
