* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #b3e5fc;
  font-family: "Poppins", sans-serif;
  color: #2e7d32;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
}

header {
  background-color: #b3e5fc;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 3rem;
  color: #2e7d32;
  font-weight: 600;
  margin-bottom: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
  letter-spacing: 1px;
}

.navmenu {
  font-size: 1.2rem;
  color: #2e7d32;
  position: relative;
  z-index: 999;
}

.navmenu .item {
  color: #388e3c;
  text-decoration: none;
  margin: 0 8px;
  transition: color 0.3s ease;
}

.navmenu .item:hover {
  color: #81c784;
}

.welcome-box {
  background: rgba(255, 255, 255, 0.95);
  padding: 50px 40px;
  border-radius: 25px;
  text-align: center;
  width: 420px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  margin-top: 2%;
 display: flex;
 flex-direction: column;
 align-items: center;
}


.welcome-box h1 {
  font-size: 2.2em;
  color: #333;
  margin-bottom: 5px;
}
.tagline {
  color: #555;
  font-style: italic;
  margin-bottom: 25px;
}
.info-box {
  background-color: #f8f2d8;
  border-radius: 15px;
  padding: 15px;
  font-size: 15px;
  line-height: 1.6;
  color: #444;
  margin-bottom: 25px;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
}


.buttons {
  display: flex;
  justify-content: space-around;
  gap:10px;
}

.btn {
  text-decoration: none;
  padding: 12px 30px;
  border-radius: 12px;
  font-weight: bold;
  font-size: 16px;
  color: white;
 
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.play {
  background-color: #2ecc71;
}

.play:hover {
  background-color: #27ae60;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

.back {
  background-color: #3498db;
}

.back:hover {
  background-color: #2c80b4;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

